header {
    background-color: #404040;;
    width: 100%;
    padding: 16px 1px;
    border-top: 5px solid #41A8FF;

}

header .logo {
    margin-right: 180px;
    width: 150px;
}

header ul {
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

header li {
    display: inline-block;
    margin: 0 10px;
}

header li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

header li a:hover {
    background-color: #4a6ea9;
}

/* Dropdown menu */
.gnav__games__dropdown {
    position: relative;
    display: inline-block;
}

.gnav__dropdown__menu {
    border: 3px solid lightgray; 
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;   
    list-style: none;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    min-width: 160px; 
    
}
.gnav__dropdown__menu li {
    border-bottom: 1px solid #ccc;
}
.gnav__dropdown__menu li:last-child {
    border-bottom: none;
}
.gnav__dropdown__menu li a {
    color: black; 
    
}
.gnav__dropdown__menu li a:hover {
    background-color: lightgray;
}
.gnav__games__dropdown:hover .gnav__dropdown__menu {
    display: block;
}