body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    /*
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    横の線を追加する場合はこれを用いる
    */
}